@page "/"

<PageTitle>Lorente Pagina</PageTitle>
<h1>Bienvenido a la Lorente Pagina.</h1>
<div class="hero">
  <img src="/images/jesus-dance.gif" alt="Jesús bailando" class="gif" />
</div>
Welcome to your new app.
